@import "variables";

.ui.basic.segment.landing-page-header {
	background: url(../images/travel.jpg);
	background-size: cover;
	background-position: center bottom;
	min-height: 1000px;
	padding-top: 200px;
	overflow: hidden;

	.head-sub-title {
		font-size: 54px;
		font-weight: normal;
		text-shadow: 0 0 7px rgba(0,0,0,.4);
	}
	.head-title {
		font-size: 30px;
		font-weight: normal;
		text-shadow: 0 0 7px rgba(0,0,0,.4);
	}
	.join {
		margin-top: 20px;
	}
	.center-item {
		border-left: solid 1px white;
		border-right: solid 1px white;
	}
	.input-tag {
		margin-top: 3px;
		margin-left: 12px;
		font-size: 18px;
	}
	.item {
		padding-bottom: 70px;
		.item-title {
			font-size: 24px;
			vertical-align: middle!important;
		}
		.item-value {
			font-size: 46px;
			margin-top: 8px!important;
		}
	}
	.include {
		display: inline-block;
		margin-top: -10px;
	}
	input[type='text'] {
		background-color: rgba(255,255,255,.8);
	}
}

.main-page .ui.basic.segment {
	margin-top: 0px;
}

.limago {
	.step-number {
		height: 50px;
		width: 50px;
		border-radius: 100%;
		display: inline-block;
		margin-left: 5px;
		padding-top: 7px;
	}
}

.limago-select {
	.select-title {
		font-size: 72px;
		.include {
			display: inline-block!important;
			margin-top: -10px;
		}	
	}
	
}



@media (max-width: @screen-sm-min) {
	.ui.basic.segment.landing-page-header {
		padding-bottom: 60px; 
		.center-item {
			border: 0;
		}
	}
}