@import "variables";
@import "buttons";

.menu {
	background-color: rgba(0,0,0,.6)!important;
}
.ui.basic.segment.landing-page-header {
	background-image: url(../images/travel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	min-height: 1000px;
	padding-top: 200px;
	overflow: hidden;

	.head-sub-title {
		font-size: 54px;
		font-weight: normal;
		text-shadow: 0 0 7px rgba(0,0,0,.4);
	}
	.head-title {
		font-size: 30px;
		font-weight: normal;
		text-shadow: 0 0 7px rgba(0,0,0,.4);
	}
	.join {
		margin-top: 20px;
	}
	.center-item {
		border-left: solid 1px white;
		border-right: solid 1px white;
	}
	.input-tag {
		margin-top: 3px;
		margin-left: 12px;
		font-size: 18px;
	}
	.item {
		padding-bottom: 70px;
		.item-title {
			font-size: 24px;
			vertical-align: middle!important;
		}
		.item-value {
			font-size: 46px;
			margin-top: 8px!important;
		}
	}
	.include {
		display: inline-block;
		margin-top: -10px;
	}
	input[type='text'] {
		background-color: rgba(255,255,255,.8);
	}
}

.main-page .ui.basic.segment {
	margin-top: 0px;
}
.section-selects {
	margin-bottom: 14px;
}
.limago {
	.step-number {
		height: 50px;
		width: 50px;
		border-radius: 100%;
		display: inline-block;
		margin-left: 5px;
		padding-top: 7px;
	}
}

.limago-select {
	.select-title {
		font-size: 72px;
		.include {
			display: inline-block!important;
			margin-top: -10px;
		}	
	}
	.people-section-icon {
		background-color: @brown;
	}
	.ticket-section-icon {
		background-color: @orange;
	}
	.time-section-icon {
		background-color: @green;
	}
	.icon-tag {
		font-size: 18px;
	}
	.select-sub-title {
		font-size: 22px;
		text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	}
	.section-text {
		margin-top: 35px;
	}
	.people-section {
		background-image: url(../images/people.png);
		background-repeat: no-repeat;
		background-size: inherit;
		background-position: left bottom;
		min-height: 250px;
	}
	.ticket-section {
		background-image: url(../images/plane.png);
		background-repeat: no-repeat;
		background-size: inherit;
		background-position: left bottom;
		min-height: 250px;
	}
	.time-section {
		background-image: url(../images/clock.png);
		background-repeat: no-repeat;
		background-size: inherit;
		background-position: right center;
		min-height: 250px;
	}
}
.description {
	padding-top: 60px;
	padding-bottom: 50px;
}
.ui.basic.segment.target-space {
	background-image: url(../images/sea.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	min-height: 700px;
	margin-bottom: 0;
}
.arrow {
	position: relative;
	height: 160px;
	top: -90px;
	left: 20%;
}
.ui.basic.segment.user-data {
	background-color: @orange;
	color: white;
	margin-bottom: 0;
	padding-top: 50px;
	padding-bottom: 60px;
	.title-tag {
		height: 55px;
		width: 55px;
		margin-top: -15px;
		margin-right: 5px;
	}
	.title {
		font-size: 32px;
	}
	input[type='text'] {
		margin-top: 10px;
		background-color: transparent;
		border: 0;
		border-bottom: solid 1px white;
		border-radius: 0;
		color: white;
		&::-webkit-input-placeholder {
		   color: white;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: white;  
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: white;  
		}

		&:-ms-input-placeholder {  
		   color: white;  
		}
	}
	.top-row {
		margin-top: 10px;
	}
	.textarea-tag {
		margin-top: 20px;
		padding-left: 14px;
	}
	textarea {
		background-color: transparent;
		border: solid 1px white;
		color: white;
	}
}
.footer {
	img {
		margin-top: -6px;
		margin-right: 6px;
		height: 30px!important;
		width: 30px!important;
	}
}
@media (max-width: @screen-sm-min) {
	.flex {
		display: -ms-flexbox!important;
		display: -webkit-flex!important;
		display: -moz-flex!important;
		display: flex!important;
		-webkit-flex-flow: row wrap!important;
		-ms-flex-flow: row wrap!important;
		-moz-flex-flow: row wrap!important;
		flex-flow: row wrap!important;
	}
	.order-1 {
		order: 1;
		-webkit-order: 1;
		-ms-order: 1;
		-moz-order: 1;
	}
	.order-2 {
		order: 2;
	    -webkit-order: 2;
	    -ms-order: 2;
	    -moz-order: 2;
	}
	.ui.basic.segment.landing-page-header {
		padding-bottom: 60px; 
		.center-item {
			border: 0;
		}
	}
	.limago-select {
		.section-text {
			margin-top: 0;
		}
		.select-sub-title {
			margin-bottom: 40px;
		}
		.people-section {
			background-size: contain;
		}
		.ticket-section {
			background-size: contain;
		}
		.time-section {
			background-size: cover;
		}
	}
}